name: Go
on: [push, pull_request]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.12
      uses: actions/setup-go@v1
      with:
        version: 1.12
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@master

    - name: Run go vet
      run: go vet ./...

    - name: Run staticcheck
      run: go get honnef.co/go/tools/cmd/staticcheck && staticcheck ./...

    - name: Build
      run: go install ./...